.corner {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 3px solid var(--emerald);
    z-index: 2;
}

.corner-tl {
    top: -2px;
    left: -2px;
    border-right: none;
    border-bottom: none;
    border-radius: 15px 0 0 0;
}

.corner-tr {
    top: -2px;
    right: -2px;
    border-left: none;
    border-bottom: none;
    border-radius: 0 15px 0 0;
}

.corner-bl {
    bottom: -2px;
    left: -2px;
    border-right: none;
    border-top: none;
    border-radius: 0 0 0 15px;
}

.corner-br {
    bottom: -2px;
    right: -2px;
    border-left: none;
    border-top: none;
    border-radius: 0 0 15px 0;
}

.active-nav {
    background: rgba(255, 255, 255, 0.3) !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2) !important;
}